.list_category {
  width: 100px;
  border: solid 1px #CCC;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
} .list_category:hover {
  background-color: rgba(30, 171, 226, 0.555) ;
}
